* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.active{
  font-weight: 500;
}

// TYPOGRAPHY

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  /* color:  #5cbdb9; */
  /* color: #ff1e00; */
  
}

h3,h5 {
  font-weight: 500;

}

h1 {
    font-size: 3.6rem;
    letter-spacing: 2px;
    text-transform: capitalize;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  line-height: 36px;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}

p {
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}

// SECTIONS

